*.iml
.gradle/
/local.properties
local.properties
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.log
*.aab
*.apk
output-metadata.json

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof
